
@{
    ViewData["Title"] = "Aceptado";
}

<h1 class="alert alert-success">Completado</h1>
<h3>Agradecemos tu preferencia, proximanente nos pondremos en contacto contigo para informarte el status de tu solicitud.</h3>
<h4 class="text-warning">Por temas de seguridad, cualquier situaci&oacute;n ser&aacute; notificada a tu n&uacute;mero telef&oacute;nico.</h4>

