
@{
    ViewData["Title"] = "Complete";
}

<h1>Denuncia completada</h1>
<h4>Agradecemos tu confianza, proximamente nos pondremos en contacto contigo.</h4>
<h4>Por favor guarda la id de tu caso para cualquier duda o aclaraci&oacute;n.</h4>
<h4>@ViewBag.data</h4>

