
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .space{
        margin-top:50px;
    }
</style>
<div id="carouselExampleInterval" class="carousel slide space" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
            <img src="~/IMG/BannerIndex/Banner1.png" class="d-block w-100" alt="Banner1"/>
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="~/IMG/BannerIndex/Banner2.png" class="d-block w-100" alt="Banner2">
        </div>
        <div class="carousel-item">
            <img src="~/IMG/BannerIndex/Banner3.png" class="d-block w-100" alt="Banner3">
        </div>
        <div class="carousel-item">
            <img src="~/IMG/BannerIndex/Banner4.png" class="d-block w-100" alt="Banner3">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="card bg-dark text-white space col-lg-4 col-md-4 col-sm-12"style="padding-left: 0px;padding-right: 0px;">
        <!--<img src="~/IMG/GeForce-RTX-2080-Ti-Founders-Edition.jpg" />-->
        <img src="~/IMG/thumb-1920-942455.jpg" class="card-img" style="padding-left: 0px;padding-right: 0px; height:100%;"/>
        <div class="card-img-overlay">
            <div class="card-body">
                <h5 class="card-title">Mercado de Tlatelolco</h5>
                <p class="card-text">Visita el mercado de Tlatelolco para ver todos los productos que tenemos para ofrecerte.</p>
                <a class="btn btn-outline-success" asp-action="Tlatelolco" asp-controller="Productos">Visitar</a>
            </div>
        </div>
    </div>
    <div class="card bg-dark text-white space col-lg-4 col-md-4 col-sm-12"style="padding-left: 0px;padding-right: 0px;">
        <img src="~/IMG/Cynosa-Chroma-Desktop-Setup-Photo-02.jpg" class="card-img"/>
        <div class="card-img-overlay">
            <div class="card-body">
                <h5 class="card-title">Teotihuac&aacute;n</h5>
                <p class="card-text">Visita la ciudad de los dioses para poder adquirir alguno y tener en tus manos un gran poder.</p>
                <a class="btn btn-outline-warning" asp-action="Dioses" asp-controller="Productos">Visitar</a>
            </div>
        </div>
    </div>
    <div class="card bg-dark text-white space col-lg-4 col-md-4 col-sm-12"style="padding-left: 0px;padding-right: 0px;">
        <img src="~/IMG/unnamed.jpg" class="card-img"/>
        <div class="card-img-overlay">
            <div class="card-body">
                <h5 class="card-title">El Miclt&aacute;n</h5>
                <p class="card-text">Visita el Miclt&aacute;n para poder darle una segunda vida a tus componentes.</p>
                <a class="btn btn-outline-success" asp-action="Mictlan" asp-controller="Productos">Visitar</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-lg-12 col-md-6 col-sm-12 text-center" style="margin-top:3rem;">
        <div class="card-body">
            <h5 class="card-title text-info">Nosotros</h5>
            <p class="card-text">Componentes Mexica, es una empresa de origen Mexicano creada por Mexicanos con el fin de proveer un servicio seguro y de calidad a sus usuarios al comprar componentes de computadoras, ya sean: procesadores, tajetas de video, etc. Haremos el mejor esfuerzo para poder ofrecerte un gran servicio intentanto mantener el costo m&aacute;s accesible del mercado...</p>
            <a asp-action="Index" asp-controller="WorkInProgress" class="btn btn-primary">Continuar leyendo</a>
        </div>
    </div>
    <div class="card col-lg-12 col-md-6 col-sm-12 text-center" style="margin-top:3rem;">
        <div class="card-body">
            <h5 class="card-title text-info">Objetivos</h5>
            <p class="card-text">Tenemos varios objetivos en componentes Mexica; pero el m&aacute;s importante es ofrecer un servicio de confianza y de calidad para que cualquier usuario pueda comprar sus componentes de forma segura, sin tener el miedo a que se trate de una estafa, ya que te ofreceremos productos de calidad, sin tretas, sin amagos, sin falsas esperanzas...</p>
            <a asp-action="Index" asp-controller="WorkInProgress" class="btn btn-primary">Continuar leyendo</a>
        </div>
    </div>
    <div class="card col-lg-12 col-md-6 col-sm-12 text-center" style="margin-top:3rem;">
        <div class="card-body">
            <h5 class="card-title text-info">Modelo de trabajo</h5>
            <p class="card-text">Componentes Mexica se compromete a ofrecerte la mejor experiencia, por eso mismo trabajamos todos los d&iacute;as buscando la forma de brindarte la misma. Mediante este portal de compras en linea podr&aacute;s estar tranquilo de que tu dinero no se ver&aacute; afectado o tirado a la basura, ya que nuestros servicios de paga como Paypal nos permiten brindarte la mayor seguridad y tranquilidad.</p>
        </div>
    </div>
    <div class="card col-lg-12 col-md-6 col-sm-12 text-center" style="margin-top:3rem;">
        <div class="card-body">
            <h5 class="card-title text-info">Desarrollo</h5>
            <p class="card-text">Componentes Mexica es un portal web que todos los d&iacute;as se encuentra en constante mantenimiento para brindarte una experiencia &uacute;nica, sin embargo no podemos cubrir todos los ambitos y es donde t&uacute; como usuario nos puedes ayudar a mejorar tu experiencia dandonos recomendaciones y reportando problemas para que nosotros podamos ofrecerte a corto y largo plazo la mejor experiencia.</p>
            <a asp-action="Report" asp-controller="Error" class="btn btn-primary">Dejar recomendaci&oacute;n</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card text-white font-weight-bold col-lg-12 col-md-6 col-sm-12"style="padding-left: 0px;padding-right: 0px;">
        <img src="~/IMG/CardIndex/layout4.jpg" class="card-img" alt="Card1">
        <div class="card-img-overlay">
            <div class="card-body">
                <h5 class="card-title">Rifas</h5>
                <p class="card-text">Conoce el apartado de "Rifas" donde podr&aacute;s participar en rifas de componentes exclusivos cada cierto tiempo, donde se vender&aacute;n una cantidad de tickets a un bajo costo y en cuanto todos se hayan vendido, se seleccionar&aacute; un numero de los registrados y el cual ser&aacute; acreedor de dicho producto. Simplemente una experiencia &uacute;nica.</p>
                <a class="btn btn-outline-success" asp-action="Index" asp-controller="WorkInProgress">Participar</a>
            </div>
        </div>
    </div>
    <div class="card text-white font-weight-bold col-lg-12 col-md-6 col-sm-12"style="padding-left: 0px;padding-right: 0px;">
        <img src="~/IMG/CardIndex/layout5.jpg" class="card-img" alt="Card2">
        <div class="card-img-overlay">
            <div class="card-body">
                <h5 class="card-title">Donaciones</h5>
                <p class="card-text">Conoce el apartado de "Donaciones" donde podr&aacute;s apoyar e impulsar proyectos de Mexicanos, estas pueden ir desde animaciones, proyectos entusiastas, entre muchos otros m&aacute;s; si tienes un proyecto o conoces a alguien que tenga uno, no dudes en llenar el formulario en el bot&oacute;n de "Participar" para que nosotros lo verifiquemos y te apoyemos a impulsarlo y a sacarlo adelante.</p>
                <p class="card-text">El dinero que tu dones a estos proyectos a traves de nosotros ser&aacute; meramente para ellos en su totalidad.</p>
                <div class="btn-group">
                    <a class="btn btn-outline-success" asp-action="Index" asp-controller="WorkInProgress">Participar</a>
                    <a class="btn btn-outline-info" asp-action="Index" asp-controller="WorkInProgress">Donar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-white font-weight-bold col-lg-12 col-md-6 col-sm-12"style="padding-left: 0px;padding-right: 0px;">
        <img src="~/IMG/CardIndex/layout8.jpeg" class="card-img" alt="Card1">
        <div class="card-img-overlay">
            
                <h5 class="card-title">Vendedor o proveedor</h5>
                <p class="card-text">Si tienes alg&uacute;n producto que quieras vender (&uacute;nicamente componentes de computo) podr&aacute;s solicitar ser un vendedor en el Mictl&aacute;n donde podr&aacute;s darle una segunda vida a tus componentes usados o nuevos sea cual sea el caso, es importante que leas el aviso de privacidad para vendedores, para conocer a detalle las condiciones del servicio y que implica vender con nosotros; as&Iacute; c&oacute;mo tus obligaciones como vendedor en el Mictl&aacute;n.</p>
                <p class="card-text">Si deseas volverte un proveedor de Componentes Mexica y obtener ganancias acerca de ello, da click en el bot&oacute;n de "Proveedor" para obtener m&aacute;s informaci&oacute;n al respecto.</p>
                <div class="btn-group">
                    <a class="btn btn-outline-success" asp-action="Index" asp-controller="WorkInProgress">Vendedor</a>
                    <a class="btn btn-outline-info" asp-action="Index" asp-controller="WorkInProgress">Proveedor</a>
                </div>
            
        </div>
    </div>
</div>
