@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Lamentamos el infortunio, pero no cuentas con permisos para acceder a esta secci&oacute;n.</p>
    <p class="text-danger">En caso de contar con los permisos, contacta con nuestro soporte t&eacute;cnico.</p>
</header>
