@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de correo";
}

<h1>@ViewData["Title"]</h1>
<p>
    Verifica tu bandeja de correo, si no aparece en la principal, revisa en la de SPAM.
</p>

