@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contrase&ntilde;a se ha restaurado exitosamente. Por favor <a asp-page="./Login">inicia sesi&oacute;n aqu&iacute;</a>.
</p>
